body{
    background-color: rgb(250, 245, 245);
}
a{
    text-decoration: none;
}
.main{
    width: 1200px;
    height:700px;
    background-color: rgb(250, 245, 245);
    margin:100px auto;
}
.main .top{
    width: 100%;
    height:50px;
    position: relative;
    background-color: #fff;
    /* border:1px solid black; */
}
.main .top .top-left{
    width:20%;
    height:100%;
    background-color: rgb(235, 75, 168);
    font-weight:bold;
    color:#fff;
    line-height:50px;
    text-align: center;
    font-size: 21px;
}
.main .top .top-right{
    width:80%;
    height:100%;
    position: absolute;
    top:0px;
    left:240px;
    background-color: rgb(118, 202, 174);
}
.main .top .top-right .top-right-circle{
    width:50px;
    height:50px;
    text-align:center;
    line-height: 50px;
}
#icon1{
    font-size:30px;
    color:#aaa;
}
#icon2{
    font-size:20px; 
    margin-right:10px;
    color:#aaa;
}
#icon3{
    position: relative;
    font-size:40px;
    top:8px;
    text-align:center;
    color:rgb(64, 142, 144);   
}
#icon4{
    font-size:30px; 
    color:red;
}
.main .top .top-right .top-right-right{
    width:800px;
    height:100%;
    position: relative;
    float:right;
    top:-50px; 
    right:0px;
    line-height: 35px;
    text-align:right;
}
.main .top .top-right .top-right-right a{
    color:#aaa;
}
.main .middle{
    width: 100%;
    height:650px;
    /* background-color: #fff; */
}
.main .middle .middle-left{
    width:20%;
    height:100%;
    position: relative;
    top:-20px;
    background-color: rgb(44, 26, 34);
}
.main .middle .middle-left .ul-01{
    width:100%;
    height:100%;
    position: relative;
    left:-40px;
    list-style:none;
    font-size: 20px;
    font-weight: bold;
}
.main .middle .middle-left .ul-01 li{
    width:100%;
    height:120px;
    position: relative;
    left:50px;
    line-height:100px;
    color:#fff;
}
.main .middle .middle-left .ul-01 .warehouse-list{
    height:20px;
    text-align: center;
    line-height:20px;
    position: relative;
    top:-20px;
    display:none;
    color:#fff;
}
.main .middle .middle-left .ul-01 .order-list {
    width:100%;
    height:200px;
    text-align:center;
    position: relative;
    left:-40px;
    top:-40px;
    display:none;
}
.main .middle .middle-left .ul-01 .order-list li{
    list-style:none;
    height:20px;
    line-height:20px;
    position: relative;
    left:0px;
    margin-top:20px;
}
.main .middle .middle-right{
    width:80%;
    height:100%;
    position: relative;
    left:240px;
    top:-670px;
    background-color: #fff;
    text-align:center;
    /* border: 1px solid black; */
}
.main .middle .middle-right .middle-right-top{
    width:98%;
    height:100px;
    margin: 0 auto;
    position: relative;
    top:20px;
    background-color:rgb(233, 224, 224);
}
.main .middle .middle-right .middle-right-top .add{
    width:85%;
    height:40px;
    position: relative;
    top:5px;
    left:38px;
    font-size:18px;
    line-height:30px;
    color:rgb(150, 176, 231);
}
.input-add{
   width:280px;
   height:38px;
   border-radius:4%;
   border:1px solid #aaa;
}
.input-add:hover,.button-add:hover{
    box-shadow: 0 1px 5px rgb(82, 68, 160);
}
.button-add{
    width:80px;
    height:30px;
    border-radius:5%; 
    border:1px solid #aaa;
    background-color:#7BA9D0;
    color:#fff;
    font-size: bold;
}
.main .middle .middle-right .middle-right-top .search{
    width:85%;
    height:40px;
    position: relative;
    top:10px;
    left:38px;
    font-size:18px;
    color:rgb(150, 176, 231);
}
.main .middle .middle-right .middle-right-bottom{
    width:98%;
    height:460px;
    margin: 0 auto;
    position: relative;
    top:40px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.main .middle .middle-right .middle-right-bottom .tableTit{
    width:100%;
    height:50px;
}
.number{
    width:120px;
    height:60px;
    border-bottom:1px solid #ccc;
    background-color:rgb(196, 188, 188);
}
.w-number{
    width:290px;
    height:60px;
    border-bottom:1px solid #ccc;
    background-color:rgb(196, 188, 188);
}
.number01{
    width:120px;
    height:50px;
    border-bottom:1px solid #ccc;
    text-align:center;
}
.w-number01{
    width:290px;
    height:50px;
    border-bottom:1px solid #ccc;
}
.page{
    width:100%;
    height:50px;
    position: relative;
    top:40px;
    left:0px;
    font-size:16px;
    text-align: right;
    line-height: 50px;
}
.page a{
    margin:0px 10px;
}
