/*顶部bar部分开始*/

.topbar {
    background-color: #333;
    color:  #b0b0b0;
    height: 40px;
    width: 100%;
    font-size: 12px;
}
.topbar-nav {
    float: left;
    height: 40px;
    line-height: 40px;
}
.topbar-nav li {
    display: inline-block;
    position: relative;

}
.topbar-nav li a {
    color:  #b0b0b0;
}
.topbar-nav li a:hover {
    color: #FFFFFF;
}
/*下拉二维码*/
.box {
    display: none;
    width: 124px;
    position: absolute;
    top: 40px;
    left: 62px;
    padding: 18px 0 14px;
    margin-left: -93px;
    box-shadow: 0px 1px 5px #aaa;
    z-index: 100;
    background-color: #FFFFFF;
}
.box-hover:hover .box {
    display: block;

}
.box img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    display: block;
}
/*下拉二维码小三角*/
.triangle {
    width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -10px;
    left: 50px;
}
/*下来二维码*/
.box-app {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    margin-top: 14px;
    color: #333333;
    background-color: #FFFFFF;
}
/*购物车部分开始*/
.topbar-cart {
    width: 120px;
    float: right;
    height: 40px;
    margin-left: 15px;
    background-color: red;
}
.cart {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #424242;
    color: #b0b0b0;
    text-decoration: none;
    position: relative;
}
.cart:hover {
    background-color: #FFFFFF;
    color: #ff6700;
}
.cart-bottom {
    display: none;
}
.cart:hover .cart-bottom {
    display: block;
    position: absolute;
    right: -1px;
    top: 40px;
    width: 316px;
    padding: 15px 0 0;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0 2px 10px gray;
    color: #333333;
    z-index: 1000;
}
.topbar-info li {
    display: inline-block;
    color: #b0b0b0;
    padding: 0 5px;
    line-height: 40px;
    height: 40px;
}
.topbar-info li a:hover {
    color: #FFFFFF;
}

/*log部分开始*/
.logs {

    position: relative;
}
.log {
    float: left;
    width: 62px;
    margin-top: 22px;

}
.log a {
    display: block;
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}
.log-nav {
    width: 850px;

}
.nav-list {
    height: 88px;
    width: 820px;
    float: left;
    font-size: 16px;
    position: relative;
    padding: 12px 0 0 30px;
    position: relative;
    clear: both;
}
.nav-list li {
    float: left;
    display: inline-block;

}
.nav-category {
    float: left;
    width: 127px;
    padding-right: 15px;
    position: relative;
}
.link-category {
    display: block;
    padding: 26px 0 38px;
    text-align: right;
    visibility: hidden;
}
.nav-list>li>a {
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    font: 14px/1.5 Helvetica,Arial,sans-serif;
}
.nav-list li a:hover {
    color: #ff6700;
}
.site {
    display: block;
    position: absolute;
    top: 88px;
    left: -92px;
    width: 234px;
    height: 460px;
    font-size: 14px;
    z-index: 90;

}
.site-list {

    height: 420px;
    color: #FFFFFF;
    z-index: 999;
    position: relative;
}
.site-list li {
    width: 100%;
    position: relative;
}
.site-list>li>a {
    display: block;
    padding-left: 30px;
    height: 46px;
    line-height: 42px;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.6);
    position: relative;
}
.site-list>li i {
    position: absolute;
    top: 13px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    display: block;
}
.site-list>li>a:hover {
    background-color: #ff6700;
    color: #FFFFFF;
}
.log-search {
    float: right;
    width: 296px;
    margin-top: 25px;
    height: 50px;
    position: relative;
}
.search {
    position: absolute;
    top: 0;
    right: 51px;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;

}
.search-button {
    width: 52px;
    height: 50px;
    font-size: 24px;
    line-height: 24px;
    border: 1px solid #e0e0e0;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.search-button:hover {
    color: #FFFFFF;
    background-color: #ff6700;
}
.hotwords {
    position: absolute;
    top: 14px;
    right: 62px;
    text-align: right;

}
.hotwords a {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background-color: #eee;
    color: #757575;
}
.hotwords a:hover {
    color: #FFFFFF;
    background-color: #ff6700;
}
.nav-menu {
    height: 229px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 1000px;
    border-top: 1px solid #e0e0e0;
    background-color: pink;
    z-index: 999;
    display: none;
}
.nav-list li a:hover .nav-menu {
    display: block;
}
 /*中间轮播图部分*/
/*.hero-slide {*/
    /*height: 460px;*/
    /*width: 1226px;*/
/*}*/
.slider img {
    height: 460px;
    width: 1226px;
}
.slider {
    height: 460px;
    width: 1226px;
    /*margin: 100px auto;*/
    position: relative;
}
/* 所有li隐藏 */
.slider li {
    position: absolute;
    display: none;
}
/* 显示第一个li */
.slider li:first-child {
    display: block;
}

/* 左右箭头默认隐藏 */
.arrow {
    display: none;
}
/* 鼠标移入div,显示左右箭头 */
.slider:hover .arrow {
    display: block;
}
/* 左右箭头样式 */
.arrow-left, .arrow-right {
    font-family: "SimSun", "宋体";
    width: 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
.arrow-left {
    position: absolute;
    top: 50%;
    left: 234px!important;
}
/* 鼠标移入箭头,改变背景颜色 */
.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(0, 0, 0, .5);
}
.arrow-right {
    right: 0;
}
/* 给底部小圆点按钮设置定位 */
.slider .focuses {
    position: absolute;
    bottom: 20px;
    right: 46px;
    z-index: 1;
}
/* 给底部小圆点按钮设置样式 */
.slider .focuses li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid rgba(51, 51, 51, 0.5);
    text-align: center;
    cursor: pointer;
    position:static;
}
/* current类名,用于事件处理时,给小圆点按钮动态添加类名,改变样式 */
.current {
    background: #fff;
    transition: .4s all;
}
.hero-sub {
    margin-top: 10px;
    height: 170px;
    width: 1226px;

}
.channel {
    width: 234px;
    height: 170px;
}
.channel-list {
    text-align: center;

}
.channel-list  li{
    float: left;
    display: block;
    width: 70px;
    height: 82px;
    padding: 3px;
    background-color: #665e57;
    border: 1px solid #665e70;
}
.channel-list  li a {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 18px;
}
.channel-list  li i {
    display: block;
    text-align: center;
    font-size: 24px;
}
.channel-list  li a:hover {
    color: #FFFFFF;
}
.promo img {
    width: 316px;
    height: 180px;
    margin-left: 12px;


}
.iflashbuy-h2 {
    height: 58px;
    margin-top: 26px;
}
.iflashbuy-h2 h2 {
    font-size: 22px;
    color: #333333;
    line-height: 58px;
}
.seckill img {

    float: left;
    margin-right: 14px;
    zoom: 1;
    overflow: hidden;
    width: 234px


}
.seckill-box {
    width: 231px;
    height: 340px;
    position: relative;
    margin-right: 17px;
    border-top: 2px solid red;
}
.seckill-box h2 {
    display: block;
    position: absolute;
    top: 0;
    left: 43%;
    width: 60px;
    height: 20px;
    line-height: 20px;
    background-color: red;
    color: #FFFFFF;
}
.seckill-h {
    border-top: 0px solid red;
    position: absolute;
    top: 230px;
    left: 48px;
    display: block;
}
/*背景色覆盖*/
.bgc {
    background-color:rgba(0,0,0,.02);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*黑鲨游戏手机*/
.seckill-heisha {
    margin: 2px 0 42px;
   /*// height: 120px;*/
}
.seckill-heisha>a img{
    display: block;
    width: 1226px;
    height: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}
/*页面主体开始*/
.page {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}
/*手机版块*/
.phone-box {
    height: 686px;
    padding-top: 25px;
}
.phone-h2 {
    height: 60px;
}
.phone-kind>img {
    height: 614px;
    width: 234px;
    margin-right: 14px;
    transition: all .2s linear;
}
.phone-kind>img:hover {
    box-shadow: 10px 10px 5px rgba(0,0,0,.1);
}
.kind {
    /*margin-left: 14px;*/
    width: 978px;

    height: 614px;
    transition: all .2s linear;
}
.kind-list li {
    height: 260px;
    width: 230px;
    margin-left: 14px;
    margin-bottom: 14px;
    padding: 20px 0;
    background-color: #fff;
    float: left;
    position: relative;
    transition: all .2s linear;
}
.kind-list li img {
    margin: 0 auto;
    display: block;
    width: 160px;
    height: 160px;
}
.newkind {
    width: 64px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
    background-color: red;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
}
/*盒子阴影效果*/
.kind-list li:hover {
    box-shadow: 0px 15px 30px rgba(0,0,0,.1);
}
.together {
    padding: 28px 0 22px;
    height: 120px;
    width: 1226px;
}
.appliances {
    height: 686px;
}
/*家电版块*/
.appliances-sub  a{
    display: block;
    width: 248px;
    height: 300px;
    margin-bottom: 14px;
}
.appliances-sub  a img {
    height: 300px;
    width: 248px;
    margin-right: 14px;
    transition: all .2s linear;
}
.appliances-sub  a img:hover {
    box-shadow: 0px 15px 30px rgba(0,0,0,.1);
}
/*右下角的特殊li */
.list-kind div {
    height: 93px;
    margin-bottom: 14px;
    padding-top: 50px;
    background-color: #FFFFFF;
}
.list-kind {
    position: relative;
}
.spile {
    margin-bottom: 14px;
}
.spile h3 a{
    display: block;
    margin-top: -10px;
    margin-right: 110px;
    margin-left: 30px;
    font-size: 14px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
.spile p {
    display: block;
    margin-top: 10px;
    margin-right: 110px;
    margin-left: 30px;
    font-size: 12px;
    color: #ff6700;
}
/*右边固定导航栏*/
.right-bar {
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 99999;
    background-color: #FFFFFF;
    width: 80px;
    height: 360px;
}
.right-bar li {
    width: 80px;
    height: 90px;
    font-size: 14px;
    border: 1px solid #f5f5f5;

}
.right-bar li img  {
    width: 30px;
    height: 30px;
    padding-top: 20px;
    margin-left: 25px;
}
.right-bar li p {
    margin-left: 13px;
}
.right-bar li a:hover {
    color: #ff6700;
}
/*右边隐藏二维码*/
.right-barcode {
    position: relative;
    height: 187px;
    width: 128px;

}
.right-code {
    height: 187px;
    position: absolute;
    top: 20px;
    right: 90px;
    background-color: #FFFFFF;
    display: none;
}
.right-code img {
    width: 100px;
    height: 100px;
    margin: 20px 14px;
}
.right-barcode:hover .right-code {
    display: block;
}
.right-code p {
    font-size: 14px;
    text-align: center;
}
/*热评产品*/
.hot-product {
    margin-top: 2px;
}
.hotwords-list {
    display: flex;
}
.hotwords-list  li {
    width: 296px;
    height: 415px;
    float: left;
    margin-left: 14px;
}
.hotwords-list li img  {
    width: 296px;
    height: 220px;
    display: block;
}
.hotwords-list li a {
    display: block;
    margin: 28px 28px 22px;
    font-size: 14px;
    line-height: 24px;
}
.hotwords-list li p {
    text-align: center;
    margin-top: 10px;
}
/*底部链接*/
.service{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}
.service li {
    float: left;
    margin-left: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.service li i {
    font-size: 18px;
}
.links  {
    padding: 40px 0;
}
.links dl {
    float: left;
    width: 160px;
}
.links dl dt {
    font-size: 14px;
    margin-bottom: 30px;
}
.links dl dd{
    font-size: 12px;
    margin-top: 10px;
    color: #333333;
}
.links dl a:hover {
    color: #ff6700;
}
.contact {
    width: 250px;
    height: 110px;
    border-left: 1px solid #e0e0e0;
}
.contact a {
    width: 80px;
    height: 30px;
    text-align: center;
    display: block;
    border: 1px solid #ff6700;
    line-height: 30px;
    margin: 0 auto;
    color: #ff6700;
}
.contact a:hover {
    color: #FFFFFF;
    background-color: #ff6700;
}
/*底部链接*/
.sites {
    background-color: #f5f5f5;
    width: 100%;

    padding-top: 30px;
    height: 200px;
}
.sites-list p {
    line-height: 18px;
    font-size: 12px;
}
.sites-list a:hover {
    color: #ff6700;
}
.link-right img {
    width: 70px;
    height: 30px;
}
.footer-p {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 20px;
    font-size: 20px;
}
/*划入显示下拉菜单*/
#xiaomi,#hongmi,#dianshi,#zhinneg {
    position: absolute;
    top: 135px;
    left: 0px;
    width: 100%;
    height: 230px;
    background-color: #FFFFFF;
    z-index: 9999;
    display: none;
}
.child-list  li{
    float: left;
    display: block;
    width: 180px;
    padding: 35px 10px 0;
    text-align: center;
    font-size: 12px;
    position: relative;
}
.child-list  li img {
    width: 160px;
    height: 110px;
    border-left: 1px solid #333333;
}
.child-list  li span {
    position: absolute;
    top: 0;
    left: 50%;
    height: 18px;
    width: 30px;
    border: 1px solid #ff6700;
    margin-left: -15px;
    color: #ff6700;
}
/*右划菜单*/
#dv1,#dv2,#dv3,#dv4,#dv5 {
    position: absolute;
    left: 234px;
    top: 0;
    height: 458px;
    width: 992px;
    background-color: pink;
    display: none;
    z-index: 1000;
}
#dv2 {
    background-color: #FFFFFF;
}
#dv3 {
    background-color: #0086b3;
}
#dv4 {
    background-color: #55a532;
}
#dv5 {
    background-color: #a71d5d;
}