
body{                                  /***body主体****/
    background: #f5f5f5
}
.right-toolbar{
    position: fixed;
    top: 40px;
    bottom: 70px;
    width: 84px;
    height: 365px;
    right: 0;
    z-index: 999999;
    background:  #fff;
    padding: 0;
    margin: 0;
    border-top: 1px solid #f5f5f5;
}
.right-toolbar .toolbar a{  
    color: #757575;
    text-decoration: none;
    margin: 8px 0 0 0;
}
.right-toolbar .toolbar p{
        margin: 8px 0 0 0;
        color: #757575;
        font-size: 14px;
        text-align: center;
}
.right-toolbar .toolbar-item{
    position: relative;
    display: block;
    width: 82px;
    height: 85px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f5f5f5; 
}
.right-toolbar .toolbar-item i{
    padding-top: 20px;
    padding-right:20px;
    margin: 0 0 0 27px;
    font-size: 30px;
    border: none;
}
.right-toolbar li:hover{
    color:#ff6700;
}
.right-toolbar a:hover{
    color:#ff6700;
}
.right-toolbar div{
   display: block;
}
.hdh{                                 /*header导航开始------最上部导航*/
    width: 100%;
    height: 40px;
    background-color: black;
}
.hdh a:hover{                 
    color: white;
}
.hdh1{                                 /****header导航--中部*******/
    width: 1226px;
    height: 40px;
    background-color: black;
    margin: 0 auto;
    line-height: 40px;
}
.hdhz ul{
    float: left;
}
.hdhz li{
    float: left;
}
.hdh span{     
    margin: 0 5px;
    color: #424242;
}
.hdh a{
    color: #999999;
}
.hdhy ul{
    float: right;
}
.hdhy li{
    float: left;
}
.hdhl{
    margin-left: 25px;
}
.bdh{                                  /****body导航-----logo所在类****/
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
}
.bdh1{
    width: 1226px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    line-height: 100px;
}
.bdh1 img{
    float: left;
    margin: 23px 0;
    margin-right: 190px;
}
.bdh1 ul{
    float: left;
}
.bdh1 li{
    float: left;
    margin-right: 20px;
}
.bdh1 a{
    font-size: 16px;
    color: black;
}
.bdh1 input{                             /*--------搜索栏-------*/
    border: 1px solid #e0e0e0;
    width: 245px;
    height: 50px;

}
.bdh1 .ss{
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    color: #fff;
}
button.ss:hover,button.ss:active{
    color:#fff;
    background: #ff6700;
}
.bdh1 a:hover{
    color:#ff6700;
}
.xmsj1{                                    /*----body二级导航-----*/
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:#fff;
    display: none;
    z-index: 666;
}
.bdh1 li:hover .xmsj1{
    display: block;
}
.lbt{                                    /*******轮播图所在整体class*******/
    width: 100%;
    height: 460px;
    background-color: white;
    margin-bottom: 20px;
    margin: 0 auto;
}
.lbt1{                                  /*****轮播图所在class*****/
    width: 1226px;
    height: 460px;
    margin: 0 auto; 
   
}
.slides{
    z-index: -50;
    top:0;
    margin:0 auto;
    height: 460px;
    z-index:-50;
}
.slide-hide{
    display: none;
}
.move{
    z-index: 99;
    position: absolute;   
}
.move,.slide-left,.slide-right {     
    position: absolute;
    width: 25px;
    height: 25px;
}

/*.slide-right{
    position: absolute;
    z-index: 999;
    width: 41px;
    height: 69px;
    margin-top: -35px;0
    background: #ff6700;
    outline: 0;
}*/
.slide-left,.slide-right {
    position: absolute;
    width: 25px;
    height: 25px;
    background: #999999 50% ;
}
.slide{
    top:0;
    margin: 0 auto;
    height: 460px;
}
.slide li{
    position: absolute
}
.slide img{
    z-index: -50;
    widows: 1226px;;
    height: 460px;
}
.item .flag{                           /*二级导航栏中的“新品”标签*/
    display: inline;
    height:    18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
.item .header-nav .flags{
    font-size: 12px; 
    text-align: center;
 }
 .focuses{
     z-index: 1;
     position: absolute;
     margin-top:-21px;
 }
 .focuses li{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius:50%;
        border: 2px solid rgba(51,51,51,0.5);
        text-align: center;
        cursor: pointer;
        position: static; 
 }
 .current{
     background: #fff;
     transition: .4s all;
}
.wb{   
    z-index: 5;
    position: absolute;                             /********轮播图左子导航栏******/
    width: 234px;
    height: 460px;
    background-color:rgba(0,0,0,.5);
    text-align: left;
    padding: 20px 0;
    box-sizing: border-box;
}
.wb i{
    float: right;
    font-size: 20px;
    margin-right: 30px;
}
.wb ul>li{         
    height: 42px;
    padding-left: 30px;
    line-height: 42px;
}
.wb a{
    font-size: 14px;
    color: white;
}
.wb li:hover{
    background-color: #ff6700;
}
.wbyc{
    width: 992px;
    height: 460px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 5px 16px  rgba(0,0,0,.18);
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}
.wb li:hover .wbyc{
    display: block;
}
.gg{                                                     /********广告*******/
    width: 1226px;
    height: 170px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.gg1{
     width: 234px;
     height: 170px;
     background-color: #5f5750;
     float: left;
     margin-right: 14.6px;
 }
 .gl{
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
 }
 .gl li{
     position: relative;
     float: left;
     width: 70px;
     height: 82px;
     padding:0 3px;
 }
 .gl i{
     display: block;
     height: 24px;
     margin-bottom: 4px;
     font-size: 24px;
 }
 .gl a{
     display:block;
     margin-top: 18px;
     color: #fff
 }
 .gl a:hover{
     color: bisque
 }
 .gl  li:after {                                             /*********垂直分割线*******/
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
    position: absolute;
    content: "";
    background: #665e57;
} 
.gl li::before{
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
    position: absolute;
    content: "";
    background: #665e57;
}
.gg2{
    width: 316px;
    height: 170px;
    background-color: #cc0000;
    float: left;
    margin-right: 14.5px;
    transition: all .8s linear;
}
.gg3{
    width: 316px;
    height: 170px;
    background-color: aquamarine;
    float: left;
    margin-right: 14.6px;
    transition: all .8s linear;
}
.gg4{
    width: 316px;
    height: 170px;
    background-color: #999999;
    float: left;
    transition: all .8s linear;
}
.gg img{
    width: 100%;
    height: 100%;
}
.gg2:hover{
    box-shadow: 10px 20px 50px #666;

}
.gg3:hover{
    box-shadow: 10px 20px 50px #666;
  
}
.gg4:hover{
    box-shadow: 10px 20px 50px #666;
}
.sg{                                                        /***********小米闪购***********/
    width: 1226px;
    height: 438px;
    margin: 0 auto;
}
.sg-header{
    position: relative;
    height: 58px;
}
.sg-header .sg1{                                           /******小米闪购字样*******/
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.sg-header .sg2{
    position: absolute;
    right:0;
    top:24px;
}
.sg2 .btn{
    width: 35px;
    height: 23px;
    background-color: rgba(0,0,0,0.02);
}
.sg .sg-title{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.sg3_1 img{
    margin: 25px auto;
}
.sg .sg3_1 {
    background-color: rgba(0,0,0,0.02);
    height: 340px;
}
.sg .sg3_1 .counttime{
    width: 168px;
    margin: 28px auto 0;
}
.sg .sg3_1 #hour{
    width:  46px;
    height: 46px;
    background:#605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float:left;
}
.sg .sg3_1 .dosh{
    width:15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color:#605751;
    font-size:28px;

}
.sg .sg3_1 #minute{
    width:  46px;
    height: 46px;
    background:#605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float:left;
}
.sg .sg3_1 #second{
    width:  46px;
    height: 46px;
    background:#605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float:left;
}
.sg .sg3_1 p{
    color: #666;
    font-size: 18px;
    width: 168px;
    margin: 28px auto 0;
}
.sg-body{
    width: 1226px;
    height: 340px;
    padding-bottom: 40px;
}
li.sg3_1{
    border-top-width: 1px;
    border-top-style: solid;
   border-top-color: #e53935;
} 
.sg li{
    background: rgba(0,0,0,0.02);}
.sg li del{
    color:  #b0b0b0;
}
 li.sg4_1{
    border-top-width: 1px;
    border-top-style: solid;
   border-top-color: #e53935;
} 
li.sg4_2{
    border-top-width: 1px;
    border-top-style: solid;
   border-top-color: green;
}
li.sg4_3{
    border-top-width: 1px;
    border-top-style: solid;
   border-top-color: blue;
}
li.sg4_4{
    border-top-width: 1px;
    border-top-style: solid;
   border-top-color: red;
}
.sg .flag{
    background-color: #e53935;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.sg h6{
    font-weight: normal;
    font-size: 14px;
    margin-top: 70px;
}
.sg p{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.sg span{
    color: #ff6700;
} 
.sg-body .sg3{
    float: left;
    width: 234px;
    margin:0 14px 0 0;
    padding:0;
}
.sg-body .sg4{
    height: 340px;
    overflow: hidden;
}
.sg4_2,.sg4_3,.sg4_4,.sg4_1{
    margin-right: 10px;
    width: 234px;
    height: 339px;
    float: left;
}
.shark{
    width: 1226px;
    height: 120px;
    margin: 0 auto;
} 
.sjbt{
    width: 1226px;
    height: 58px;
    margin: 0 auto;
    margin-top: 20px;
}
.sjbt li{
    background: rgba(0,0,0,0.02);}
.sjbt h2{
    float: left;
    margin-top: 14px;
    font-weight: normal;
}
.sjnr{
    width: 1226px;
    height: 614px;
    margin: 0 auto;
}
.sjnrz{
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}
.sjnrz:hover{
    box-shadow: 10px 20px 30px rgba(0,0,0,.2);
}
.sjnrz img{
    width: 100%;
    height: 100%;
}
.sjnry{
    width: 980px;
    height: 614px;
    float: right;
}
.sjnrs{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.sjnrs1,.sjnrs2,.sjnrs3,.sjnrs4{
    width: 234px;
    height: 300px;
    float: left;
    background-color: #fff;
    transition: all .5s linear;
}
.sjnrs1:hover{
     box-shadow: 10px 20px 30px rgba(0,0,0,.2);
 }
.sjnrs4:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.sjnrs1,.sjnrs2,.sjnrs3{
    margin-right: 14.6px;
}
.sjnrs1 img{
    width: 160px;
    height: 160px;
    margin-top: 20px;
}
.sjnrs4 img{
    width: 160px;
    height: 160px;
    margin-top: 20px;
}
.sjnrs h6{
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
}
.sjnrs p{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.sjnrs span{
    color: #ff6700;
}

.sjnrx{
     width: 100%;
     height: 300px;
    margin-top: 14.6px;
 }
.sjnrx1,.sjnrx2,.sjnrx3,.sjnrx4{
    width: 234px;
    height: 300px;
    float: left;
    background-color: #fff;
    transition: all .5s linear;
}
.sjnrx1:hover{
    box-shadow: 10px 20px 30px rgba(0,0,0,.2);
}
.sjnrx4:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,.2);
}
.sjnrx1,.sjnrx2,.sjnrx3{
    margin-right: 14.6px;
}
.sjnrx1 img{
    width: 160px;
    height: 160px;
    margin-top: 20px;
}
.sjnrx4 img{
    width: 160px;
    height: 160px;
    margin-top: 20px;
}
.sjnrx h6{
    font-weight: normal;
    font-size: 14px;
    margin-top: 20px;
}
.sjnrx p{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.sjnrx span{
    color: #ff6700;
}                                                            
.jd{                                            /*****家 电****/
    width: 1226px;
    height: 120px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.jd img{
    width: 100%;
    height: 100%;
}
.jdzt{
    width: 1226px;
    overflow: hidden;
    margin: 0 auto;
}
.jdzt h2{
    float: left;
    margin-top: 20px;
    font-weight: normal;
    height: 58px;
    line-height: 58px;
}
.jdzt ul{
    float: right;
    margin-top: 20px;
}
.jdzt li{
    float: left;
    font-size: 16px;
}
.jdztli{
    margin-right: 20px;
}
.jdzt li:hover{
    text-decoration: underline;
    color: #ff6700;
}
.jdnr{
    width: 1226px;
    height: 614px;
    margin: 0 auto;
    overflow: hidden;
}
.jdnrs,.jdnrx{
    width: 1226px;
    height: 300px;
}
.jdnrs{
    margin-bottom: 14.6px;
}
.jdnrs>div{
    width: 234px;
    height: 300px;
    background-color: #ffffff;
    float: left;
    transition: all .5s;
}
.jdnrs1,.jdnrs2,.jdnrs3,.jdnrs4{
    margin-right: 14px;
}
.jdnrs2 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrs3 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrs4 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrs5 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrs h5{
    color: rgba(255,255,255);
}
.jdnrs h6{
    margin-top: 13px;
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.jdnrs p{
    color: #b0b0b0;
    margin-top: 5px;
    margin-bottom: 10px;
}
.jdnrs span{
    color: #ff6700;
}
.jdnrx1,.jdnrx2,.jdnrx3,.jdnrx4{
    margin-right: 14px;
    width: 234px;
    height: 300px;
    background-color:#fff;
    float: left;
    transition: all .5s;
}
.jdnrx5{
    width: 234px;
    height: 300px;
    float: left;
}
.jdnrx5s,.jdnrx5x{
    width: 234px;
    height: 143px;
    background-color:#fff;
    transition: all .5s;
    position: relative;
}
.jdnrx5s{
    margin-bottom: 14px;
}

.jdnrs1 img{
    width: 100%;
    height: 100%;
}
.jdnrx1 img{
    width: 100%;
    height: 100%;
}
.jdnrs>div:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.jdnrx1:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.jdnrx2:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.jdnrx3:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.jdnrx4:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}

.jdnrx2 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrx3 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrx4 img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.jdnrx h5{
    color: rgba(255,255,255);
}
.jdnrx h6{
    margin-top: 13px;
    color: rgba(255,255,255,0.6);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.jdnrx p{
    color: #b0b0b0;
    margin-top: 5px;
    margin-bottom: 10px;
}
.jdnrx span{
    color: #ff6700;
}

.jdnrx5s:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.jdnrx5x:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,.5);
}
.jdnrx5s img{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.x5dw{
    position: absolute;
    left: 24px;
    top: 35px;
}
.jdnrs2{
    position: relative;
}
.jdnrs3{
    position: relative;
}
.jdnrs4{
    position: relative;
}
.jdnrs5{
    position: relative;
}
.jdnrs2:hover .jdnrs2dw {
    display: block;
}
.jdnrs3:hover .jdnrs3dw {
    display: block;
}
.jdnrs4:hover .jdnrs4dw {
    display: block;
}
.jdnrs5:hover .jdnrs5dw {
    display: block;
}
.jdnrs2dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrs3dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrs4dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrs5dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrx2{
    position: relative;
}
.jdnrx2dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrx2:hover .jdnrx2dw{
    display: block;
}

.jdnrx3{
    position: relative;
}
.jdnrx3dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrx3:hover .jdnrx3dw{
    display: block;
}

.jdnrx4{
    position: relative;
}
.jdnrx4dw{
    width: 234px;
    height: 75px;
    background-color: #ff6700;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.jdnrx4:hover .jdnrx4dw{
    display: block;
}
.ys{                                         /*牙刷*/
    width: 1226px;
    height: 120px;
    margin: 0 auto;
    margin-top: 40px;
}
.ys img{
    width: 100%;
    height: 100%;
}

.dp{
    width: 1226px;
    height: 120px;
    margin: 0 auto;
    margin-top: 40px;
}
.dp img{
    width: 100%;
    height: 100%;
}

.tj{                                                        /***********推荐***********/
    width: 1226px;
    height: 438px;
    margin: 0 auto;
}
.tj-header{
    position: relative;
    height: 58px;
}
.tj-header .tj1{                                           /******为你推荐字样*******/
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.tj-header .tj2{
    position: absolute;
    right:0;
    top:24px;
}
.tj2 .btn{
    width: 35px;
    height: 23px;
    background-color: aliceblue;
}

.tj-body{
    width: 1226px;
    height: 340 px;
    padding-bottom: 40px;
}
.tj-body .tj3{
    float: left;
    width: 234px;
    margin:0 14px 0 0;
    padding:0;
}
.tj-body .tj4{
    height: 340px;
    overflow: hidden;
}
.tj4_2,.tj4_3,.tj4_4,.tj4_1{
    margin-right: 10px;
    width: 234px;
    float: left;
}
.rp{
    width: 1226px;
    overflow: hidden;
    margin-bottom: 10px;
    margin: 0 auto;
}
.rp p{
    font-size: 26px;
    float: left;
    margin-top: 20px;
}

.rpcp{
    width: 1226px;
    height: 415px;
    margin: 0 auto;
}

.rpcp1,.rpcp2{
    width: 296px;
    height: 415px;
    float: left;
    background-color: #fff;
    transition: all .8s;
}
.rpcp1{
    margin-right: 14px;
}
.rpcp1 img{
    width: 296px;
    height: 220px;
}
.rpcp2 img{
    width: 296px;
    height: 220px;
}
.rpcp h6{
    width: 240px;
    height: 96px;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
}
.rpcp p{
    position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;

}
.rpcp h5{
    float: left;
    margin-left: 40px;
    font-weight: normal;

}
.rpcp h4{
    float: left;
    font-weight: normal;
    color: #ff6700;
}
.rpcp span{
    margin: 0 7px;
    color: #b0b0b0;

}
.rpcp1:hover{
     box-shadow: 10px 10px 10px rgba(0,0,0,.2);
 }
.rpcp2:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.shu{                                                     /***********内容开始************/
    width: 1226px;
    height: 58px;
    margin-top: 20px;
    margin: 0 auto;
}
.shu h1{
    font-weight: normal;
    font-size: 25px;
    float: left;
    margin-top: 14px;
}
.shuben{
    width: 1226px;
    height: 420px;
    margin: 0 auto;
}
.shuben1,.shuben2{
    width: 296px;
    height: 419px;
    background-color: #FFF;
    float: left;
    border-top: 1px solid #ff6700;
}

.shuben1{
    margin-right: 14px;
    transition: all .8s;
}
.shuben2{
    position: relative;
  
}
.shuben3{
        margin-top: 90px;
        font-size: 20px;
        margin-bottom: 10px;
}
.shuben h2{
     margin-top: 40px;
   margin-right: 15px;
   text-align: center;
    color: #ff6700;
    font-size: 16px;
}
.shuben span{
    color: #b0b0b0;
    height: 20px;
    line-height: 20px;
}
.shuben4{
    text-align: center;
    margin-top: 20px;
}
.shuben1 img{
    width: 200px;
    height: 142px;
}
.shuben5 img{
    margin-top: 50px;
}
.shuben2 img{
    position: absolute;
    top: 180px;
    left: 45px;
}
.shuben1:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.shuben2:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}
.sp{
    width: 1226px;
    overflow: hidden;
    margin: 0 auto;
}
.sp1,.sp2{
    width: 296px;
    height: 285px;
    background-color: #fff;
    float: left;
}
.sp1{
    margin-right: 14px;
    transition: all.8s;
}
.sp img{
    width: 296px;
    height: 180px;
}
.sp h6{
    margin-top: 25px;
    font-weight: normal;
    color: #333;
    font-size: 14px;
}
.sp p{
    font-size: 12px;
    margin-top: 10px;
    color: #b0b0b0;
}
.sp2{
    transition: all.8s;
}
.sp1:hover{
    box-shadow: 10px 20px 10px rgba(0,0,0,.2);
}
.sp2:hover{
    box-shadow: 10px 20px 10px rgba(0,0,0,.2);
}
.lxwm{                         /*********联系我们********/
    height: 272px;
    background-color:#fff;
    margin-top: 40px;
    clear: both;
}
.lxwm a:hover{
    color: #ff6700;
}
.container {
   
    *zoom: 1;
    margin-right: auto;
    margin-left: auto;
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.lxwms{
    width: 1226px;
    height: 79px;
    margin: 0 auto;
    border-bottom: 1px solid #e0e0e0;
}
.lxwms ul{
    float: left;
    height: 79px;
    line-height: 79px;
    margin-left: 95px;
}
.lxwms li{
    float: left;
}
.lxwms span{
    margin: 0 60px;
    color: #e0e0e0;
    font-size: 20px;
}
.lxwms a{
    font-size: 16px;
    color: #333;
}
.lxwmx{
    width: 1226px;
    height: 192px;
    margin: 0 auto;
    position: relative;
}
.lxwmx dl{
    float: left;
    margin-top: 40px;
    margin-right: 110px;
}
.lxwmx dt{
    margin-bottom: 30px;
    font-size: 14px;
}
.lxwmx dd{
    margin-top: 16px;
}
.lxwmx a{
    font-size: 12px;
    color: #757575;
}
.lxdh{
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    float: right;
    position: absolute;
    right: 0;
    top: 40px;
}
.lxdh h3{
    color: #ff6700;
    font-size: 22px;
    margin-bottom: 5px;
}
.lxdh p{
    font-size: 12px;
}
.lxdh h6{
    margin-top: 20px;
    width: 120px;
    height: 30px;
    border: 2px solid #ff6700;
    margin-left: 65px;
    color:#ff6700;
}
.yj{
    width: 100%;
    height: 166px;
    background: #f5f5f5;
    overflow: hidden;
}
.yjzhong{
    width: 1226px;
    height: 106px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.top{
    float: left;
    margin-right: 10px;
}
.yjzhong ul{
    float: left;
}
.yjzhong li{
    float: left;
}
.yjzhong a{
    font-size: 12px;
    color: #333;
}
.yjzhong span{
    margin: 0 3px;
}
.yjzhong p{
    float: left;
    color: #b0b0b0;
}
.yjzhong a:hover{
    color: #ff6700;
}
.xt:hover{
    color: #ff6700;
}
.tpdw img{
    width: 85px;
    height: 28px;
}
.tpdw{
    position: absolute;
    right: 0;
    top: 0;
}
.jdnrs2dw h5{
     width: 165px;
     height: 25px;
     margin-left: 35px;
     font-size: 12px;
     font-weight: normal;
     color: #e0e0e0;
 }
.jdnrs2dw h4{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
}
.jdnrs3dw h5{
    width: 165px;
    height: 25px;
    margin-left: 35px;
    font-size: 12px;
    font-weight: normal;
    color: #e0e0e0;
}
.jdnrs3dw h4{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
}
.jdnrs4dw h5{
    width: 165px;
    height: 25px;
    margin-left: 35px;
    font-size: 12px;
    font-weight: normal;
    color: #e0e0e0;
}
.jdnrs4dw h4{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
}
.jdnrs5dw h5{
    width: 165px;
    height: 25px;
    margin-left: 35px;
    font-size: 12px;
    font-weight: normal;
    color: #e0e0e0;
}
.jdnrs5dw h4{
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
}