
body{

    width:1345px;

    height:955px;

    line-height: 160%;

    font-size: 12px;

    color: #555;

    text-align: center;

    background-color: #F9F9F9;

    margin:0 auto; 
}

.header{   

    width:960px;

    height:80px; 

    margin:0 auto; 

    position: relative;

    top:10px;

    text-align:left;

}
.content{

    width:960px;

    height:795px;

    margin:0 auto;

    text-align:left;
  
}    
.footer{

    width:1345px;

    height:80px;

    margin:0 auto;
 
}   

a{

    text-decoration: none;

}
/* 头部包含的css */
.header .logo{

    height : 70px;

    position: relative;

    left:-37px;

    top:-5px;

}
.header .logo ul li{

    margin-top:1px;

    float:left;

    list-style: none;

}
.header .links{

    position: absolute;

    right:0px;

    top:24px;
  
    float:right;
}
.content .top-left{

    height: 36px;

    background-position: 0 0;

    background-color: #6495C6;

    border:  1px solid #5B88B8;

    border-radius: 3px 3px 0 0;

}
.top-left h1{

    font-size: 14px;

    line-height: 36px;

    font-weight: normal;

    color: #FFF;

    position: absolute;

    margin-top:0px;
}
/* 主体下的所有div */
.content .main{

   height: 756px;

   background-color:#fff;

}
/* 主体下的左半部分 */
.content .main .left{

    height:100%;

    width:645px;

    float : left;

}

.content .main .left .registered{

    margin:40px 0px 0px 88px;

}
.content .main .left .registered a{

    float:left;

    list-style:none;

    width:137px;

    height:35px;

    text-decoration: none;

    border:10%;
    
    background-color:#256DB7;

    color:#fff;

    font-size:14px;

    border:0.5px solid #aaa;

    line-height:35px;

    text-align: center;

    font-weight: bold;

}
.content .main .left .address{

    font-size:15px;

    margin:35px 0px 0px 95px;

    position: relative;
    
} 

.content .main .left .biao1{

    width: 200px;

    height : 30px;

    border-radius : 5%;

    border:1px solid #aaa;

}
.content .main .left .biao1:hover,.content .main .left .biao2:hover{

    border: 1px solid black;

}
.content .main .left .address #sel{

    width: 120px;

    height : 30px;

    border-radius : 5%;
}
/* 邮箱错误提示框 */
.content .main .left .email-error{

    width:300px;

    height:30px;

    margin-left:185px;

    color:red;

    display:none;

    text-align:center;

    line-height:30px;

    background-color:rgb(229, 229, 236);

    font-size:15px;

}
.content .main .left .p1{

    margin:10px 0px 0px 190px;

    color:#aaa;

}
.content .main .left .p1:hover,.content .main .left .p-1:hover{

    color:black

}
.content .main .left .password{

    font-size:15px;

    margin:10px 0px 0px 125px;

    position: relative;

}
.content .main .left .biao2{

    width: 350px;

    height : 27px;

    border-radius : 5%;

    border:1px solid #aaa;


}
.content .main .left .p1-01{

    margin:5px 0px 0px 190px;

    color:red;

    display:none;

}
.content .main .left .confirm-password{

    font-size:15px;

    margin:10px 0px 0px 100px;

    position: relative;

}
.content .main .left .telephone{

    font-size:15px;

    margin:10px 0px 0px 100px;

    position: relative;

}
input::-webkit-input-placeholder{

    color:black;

}
.content .main .left .code{

    font-size:15px;

    margin:10px 0px 0px 112px;

    position: relative;

}
.content .main .left .messager{

    font-size:15px;

    margin:10px 0px 0px 85px;

    position: relative;

}
.content .main .left .p2{

    margin:15px 0px 0px 195px;

    position: relative;

}
.content .main .left .p-1{

    margin:-16px 0px 0px 190px;

    color:#aaa;
}
.content .main .left .p-1-01{

    margin:-16px 0px 0px 190px;

    color:red;

    display: none;
}

.content .main .left .last{

    width : 119px;

    height : 37px;

    background-color:#58AD44;

    text-align : center;

    line-height : 37px;

    font-size : 15px;

    color : #fff;

    border-radius:5%;

    position: relative;

    left:188px;

    bottom:-23px;
}

.content .main .left .registered  a:hover{

    background-color:#256DB7;

    color:#fff;

}
/* 主体下的右半部分 */
.content .main .right{

    width:315px;

    height : 756px;
 
    left: 645px;

    position: relative;

}
.content .main .right .photo{

    width :100%;

    height :756px;


}
.content .main .right .photo img{

   width:100%;

   height:756px;
   
   top:-755px;

   position: relative;
} 
/* 主体下的尾部 */
.footer .footer-center{

    position: relative;

    top:10px;

    left:-15px;

}

.footer a{
    color:rgb(165, 160, 160);

}
#changeImg{

    margin:0 auto;

}
.code-refresh{

    margin-left:320px;

}
.phone-code{

    width:150px;

    height:35px;

    border:0.5px solid #aaa;

    background-color: #f2f2f2;

    margin: 27px 0px 0px 188px;

    position: relative;

    font-weight: bold;
}

/* 验证码 */
#canvas{

    margin:0px 0px -13px 0px;

}